---
whiskers:
  version: 2.3.0
  matrix:
    - flavor
    - accent
  filename: "themes/{{flavor.identifier}}/{{accent}}/script-opts/uosc.conf"
---
color=foreground={{ flavor.colors[accent].hex }},foreground_text={{ surface0.hex }},background={{ base.hex }},background_text={{ text.hex }},curtain={{ mantle.hex }},success={{ green.hex }},error={{ red.hex }}
