---
whiskers:
  version: 2.1.0
  matrix:
    - flavor
    - accent
  filename: "themes/{{flavor.identifier}}/{{accent}}/script-opts/uosc.conf"
---
{%- set palette = flavor.colors -%}
color=foreground={{ palette[accent].hex }},foreground_text={{ palette.surface0.hex }},background={{ palette.base.hex }},background_text={{ palette.text.hex }},curtain={{ palette.mantle.hex }},success={{ palette.green.hex }},error={{ palette.red.hex }}
